<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="stable">
            <file>Storage/Adapter/FileTest.php</file>
            <file>Helper/FileHandlerTest.php</file>
            <file>Helper/ArrayToObjectTest.php</file>
            <file>DbTest.php</file>
            <file>Table/ColumnTest.php</file>
            <file>Execute/Condition/BetweenTest.php</file>
            <file>Execute/Condition/EqualsTest.php</file>
            <file>Execute/Condition/LessThanTest.php</file>
            <file>Execute/Condition/MoreThanTest.php</file>
            <file>Execute/Condition/LikeTest.php</file>
            <file>Execute/Condition/WithinTest.php</file>
            <file>Execute/ResultsTest.php</file>
            <file>TableTest.php</file>
            <file>Table/RelationTest.php</file>
            <file>Table/Relations/BelongsToTest.php</file>
            <file>SchemaTest.php</file>
            <file>Schema/AlterTest.php</file>
            <file>ExecuteTest.php</file>
            <file>Execute/QueryTypeTest.php</file>
            <file>Execute/ConditionTest.php</file>
            <file>Execute/InsertTest.php</file>
            <file>Execute/SelectTest.php</file>
            <file>Execute/DeleteTest.php</file>
            <file>Execute/UpdateTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>